<p>modals works!</p>

<!-- <fa-icon mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"
    (confirm)="deleteRefCatalogueById(data.id)" (cancel)="cancelClicked = true" [icon]="deleteIcon">
</fa-icon>



<button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
    Do it!
</button>

<div class="">
    <p>Hello {{data.id}}</p>
</div>
<div class="container">
    <div class="modal" id="myModal11" role="dialog">
        <h3> Delete Catalogue {{data.id}}</h3>
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">

                    <p style="color: red; justify-content: center;">Are you sure want to delete?
                    </p>
                    <button id="but-width" class="close btn btn-primary" data-dismiss="modal">Cancel</button> &nbsp;
                    &nbsp;
                    <button id="but-width" class="btn btn-danger" (click)="deleteRefCatalogueById(data.id)"
                        data-dismiss="modal">Delete
                    </button>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div> -->