<div class="container">
    <div class="table">

        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Actions</th>
            </tr>

        </thead>

        <tbody>
            <tr *ngFor="let item of formData">
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editRecord(item)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteData(item)">Delete</button>
                </td>
            </tr>
        </tbody>


    </div>
</div>

<div>
    <br>
    <div class="container">
        <form action="" class="form-group">
            <input type="text" [(ngModel)]="updateData.firstName" name="firstName" placeholder="First name" class="form-control">
            <input type="text" [(ngModel)]="updateData.lastName" name="lastName" placeholder="last name" class="form-control">

            <button class="btn btn-primary" (click)="saveData()" type="submit">Submit</button>

        </form>
    </div>
</div>